@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="@Url.Content("~/Content/principal.css")" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center h-screen">
    <div class="cadastro-box bg-color1">
        <header class="flex justify-center m-4">
            <h1 class="flex justify-center">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/imagens/logo.png" width="150"/></a>
            </h1>
        </header>
        <main class="flex flex-col items-left mx-4">
            <form action="@Url.Action("Index", "Leitor")" class="flex flex-col items-center">
                <input type="text" placeholder="Nome" class="w-4/5 mb-3 border-none" />
                <input type="text" placeholder="Username" class="w-4/5 mb-3 border-none" />
                <input type="email" placeholder="E-mail" class="w-4/5 mb-3 border-none" />
                <input type="password" placeholder="Senha" class="w-4/5 mb-3 border-none" />
                <div class="flex justify-between w-4/5 mt-2">
                    <input type="tel" placeholder="Celular (opcional)" class="m-0 border-none cadastroInput" />
                    <input placeholder="Data de nascimento" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dataNasc" class="m-0 cadastroInput border-none" />
                </div>
                <div class="flex items-center mt-6">
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        <input name="radio" type="radio">
                        <span>Masculino</span>
                    </label>
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        <input name="radio" type="radio">
                        <span>Feminino</span>
                    </label>
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        <input name="radio" type="radio">
                        <span>Outro</span>
                    </label>
                </div>
                <input class="hover:cursor-pointer" type="submit" value="Continuar" />
            </form>
        </main>
        <footer>
            <small class="font-bold">© pratelivros</small>
            <ul>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/instagram.png" /></a>
                </li>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/twitter.png" /></a>
                </li>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/whatsapp.png" /></a>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>