@model WebAppPratelivros.Models.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HOME";
}

<div>
    <section class="bg-livros">
        <h2>A melhor plataforma para troca de livros!</h2>
        <p class="font-bold">
            O pratelivros™ te oferece tudo que precisa para encontrar ótimas opções de livros e
            economizar mais.
        </p>
    </section>
    <section class="bg-none">
        <h2>Como funciona?</h2>
        <div>
            <div>
                <h3 class="text-right">Organize suas prateleiras</h3>
                <p class="text-right">Organize seus livros nas prateleiras, e cadastre-os caso eles não estejam disponíveis na plataforma.</p>
            </div>
            <img src="/Content\imagens/setadir.png" />
        </div>
        <div>
            <img src="/Content/imagens/setaesq.png" />
            <div>
                <h3 class="text-left">Faça uma proposta</h3>
                <p class="text-left">Proponha uma troca por um livro interessante que encontrar, ou então, aceite uma proposta enviada a você.</p>
            </div>
        </div>
        <div>
            <div>
                <h3 class="text-right">Bora trocar?</h3>
                <p class="text-right">Através do chat, você pode negociar mudanças na proposta, além de decidir um local de encontro para a troca dos livros</p>
            </div>
            <img src="/Content/imagens/setadir_2.png" />
        </div>
        <div>
            <div>
                <h3 class="text-left">Boa leitura!</h3>
                <p class="text-left">Ao final da troca, você pode avaliar o outro leitor considerando a qualidade do livro, negociação, etc. Tenha uma boa leitura!</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Perguntas frequentes</h2>

    </section>
</div>